{% extends "run.html" %}

{% block title %}Form Login!{%endblock title%}

{% block main %}

	<h1>Login</h1>

	{% if err %}

	<p>Error : {{err}}</p>

	{% endif %}

    <form action="{{ url_for('auth') }}" method="post">
        <label for="username"><b>Username</b></label>		
        <input type="text" name="username" placeholder=" Enter Username" autocomplete="off" required autofocus>
        <label for="password"><b>Password</b></label>
        <input type="password" name="password" placeholder="Enter Password" autocomplete="off" required>
        <button>Login</button>
    </form>

	
    <div class="container" style="background-color:#f1f1f1">
        <span class="password">Forgot <a href="#">password?</a></span>
      </div>
    <div class="container">
        <p>Or Sign Up Using <a href="{{url_for('html_file',file='register.html')}}">Sign Up</a>.</p>
    </div>
    <div class="container">
        <p><a href="{{ url_for('index') }}">Back Home</a>.</p>
    </div>

{% endblock main %}