<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/style.css">
	<title>Product</title>
</head>
<body>
	<footer>
		<div class="content">
			<div class="top">
			  <div class="logo-details">
				<i class="fab fa-slack"></i>
				<span class="logo_name">Product</span>
				<h3><a href="{{ url_for('index') }}">Back home!</a></h3>
			  </div>
			</div>
			<div class="link-boxes">
			  <ul class="box">
				<li class="link_name">Hubungi Kami</li>
				<li><a href="#">Telp 109291209102</a></li>
				<li><a href="#">Senin-Minggu</a></li>
				<li><a href="#">24 Jam</a></li>
				<li><a href="#">Jln Jambu</a></li>
			  </ul>
			  <ul class="box">
				<li class="link_name">Layanan</li>
				<li><a href="#">Cara Pemesanan</a></li>
				<li><a href="#">Cara Pembayaran</a></li>
				<li><a href="#">Informasi Pengiriman</a></li>
				<li><a href="#">Lacak Pesanan</a></li>
			  </ul>
			  <ul class="box">
				<li class="link_name">Account</li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">My account</a></li>
				<li><a href="#">Prefrences</a></li>
				<li><a href="#">Purchase</a></li>
			  </ul>
			  <ul class="box">
				<li class="link_name">Informasi</li>
				<li><a href="#">Tentang Kami</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Privasi</a></li>
			  </ul>
			  <ul class="box input-box">
				<li class="link_name">Subscribe</li>
				<li><input type="text" placeholder="Enter your email"></li>
				<li><input type="button" value="Subscribe"></li>
			  </ul>
			</div>
		  </div>
		  
	</footer>

</body>
</html>